#cart p{
    background-color:rgb(252, 156, 38);
    padding: 3px;
    border-radius: 8px;
    color: rgb(248, 246, 244);
    font-family: 'Oswald';
    font-size: 1.1rem;
    cursor: pointer;
}

@media only screen and (min-width:700px){
#cart{
    width: auto;
    height: 100%;
}

#cart p{
    margin-top: 10px;
    background-color: transparent;
    border: 1px solid black;
    color:rgb(254, 141, 2);
    width: auto;
    font-size: 1rem;
    width: 70px;
    height:auto;
}
}


@media (hover:hover){

    #cart p:hover{
    box-shadow: inset 150px 1px 1px 10px rgb(252, 156, 38);
    color: white;
    transition: all 0.4s ease;
    border: 0;
    }
    
    #checkmark:hover::after {
        content: "Remove from cart";
        position: absolute;
        top: 0%;
        left: 70%;
        transform: translate(-50%,-50%);
        background-color: rgba(148, 90, 2, 0.997);
        color: white;
        padding: 5px;
        border-radius: 3px;
        font-size: 14px;
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    
    #checkmark:hover::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 3px;
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    
    #checkmark:hover::after,
    #checkmark:hover::before {
        opacity: 1;
    }


}