:root{
    --shop_backgroundColor:#f4f4f4;
    --shop_hero_color:#E78635;
}



.shop_heropage{
  height: auto;
  min-height: 95svh;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  background-image: url('https://res.cloudinary.com/dldonwgcr/image/upload/v1691735943/wave-haikei_5_d5ttv8.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.shop_hero_section{
    width: 80%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.shop_hero_navbar{
   display: flex; 
   justify-content: space-between;
   align-items: center;
}
.shop_hero_logo{
    display: flex;
    align-items: center;
    gap: 5px;
}
.shop_hero_logo img{
    width: 20px;
    height:20px;
}
.shop_hero_logo p{
    color: #000;
font-family: 'Yaldevi';
font-size: 0.7rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.shop_hero_navigate{
    display: flex;
    gap: 55px;
    align-items: center;
}

.shop_hero_navigate img{
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-radius:50%;
    cursor: pointer;
}

.shop_hero_hamburger {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    order: 2;
}

.shop_hero_hamburger div{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 40px;
   position:fixed;
    left: 0px;
    top:0px;
    background-color:white;
    color: black;
    width: 100%;
    height: 100svh; 
    z-index: 1;
}


.shop_hero_hamburger p{
    position:fixed;
    top:15px;
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
    font-size: 1.8rem;
    border-radius:5%;
    color: white;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
   cursor: pointer;
   z-index: 2;
   text-align: center;
   margin-top: 0px;
   background-color: #E78635;
}


.shop_hero_hamburger div p{
    background-color:transparent;
    width: auto;
    height: auto;
    position: relative;
    font-size: 3rem;
    font-family: 'Oswald';
    color: rgb(36, 36, 36);
}

.contact_cart{
    margin-top: 0px;
 display: flex;
 gap: 15px;
 margin-right: 20px;
}

.contact_cart p{
    background-color: var(--shop_hero_color);
    padding: 5px;
    font-size: 1.3rem;
    border-radius: 10px;
    color: #f9f7f6;
    font-family: 'Oswald';
    cursor: pointer;
    width: auto;
    min-width: 80px;
    text-align: center;
}

.shop_hero_heading{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: auto;
}

.shop_hero_heading img{
  display: none;
  width: 100%;
  height: 320px;
  max-width:calc(550px * 80/100);
}

.shop_heading_text{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
    margin-bottom: 120px;
}

.shop_heading_text h2{
    max-width: 450px;
    color: #363636;
    font-family: Ponnala;
    font-size: 1.9rem;
    font-style: normal;
    font-weight: 400;
}
.shop_heading_text button{
    width: 280px;
    height: 45px;
    color: #181818;
font-family:Oswald;
font-size:1.8rem;
font-style: normal;
font-weight: 400;
background-color:white;
border-radius: 15px;
border: 1px solid black;
outline: 0;
}

@media only screen and (min-width:750px){

   .userImage_info{
    transform: scale(1);
    right: -70px;
   }

    .shop_hero_navigate img{
        width: 55px;
        height: 55px;
    }

    .shop_hero_heading img{
        display: block;
    }
    .shop_hero_heading{
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    .shop_hero_heading img{
      height: 420px;
    }

      .shop_heading_text{
        text-align: left;
        align-items: flex-start;
        gap: 30px;
        align-self: flex-start;
        margin-top: 50px;
      }

    .shop_heading_text h2{
        font-size: 1.7rem;
        line-height: 35px;
        max-width: 450px;
    }

   .contact_cart{
    font-size: 1.4rem;
   }

   .shop_hero_navigate{
    gap:0px;
   }
}

@media (hover:hover){
    .shop_heading_text button:hover{
        transition: all 0.2s ease;
        cursor: pointer;
        box-shadow:inset 300px 1px 1px 4px var(--shop_hero_color);
        color: white;
        transform: scale(1.06);
    }

    .contact_cart p:hover{
        background-color: white;
        transition: all 0.2s ease;
        border: 1px solid black;
        box-shadow: 1px 1px 4px black;
        color: rgb(28, 26, 26);
    }

    .contact_cart p:nth-child(4):hover{
        box-shadow: 1px 1px 4px black;
        background-color: rgb(234, 2, 2);
        color: white;
    }
}